:root {
  --rotateSpeed: 15s;
  --bounceSpeed: 1s;
  --PRIMARY_COLOR: rgba(255, 0, 0, 0.4);
}

html {
  height: 100%;
  caret-color: transparent;
}

body {
  align-items: center;
  background-color: black;
  display: flex;
  font-size: 75px;
  justify-content: center;
  min-height: 100vh;
}
