main {
  align-items: center;
  background-color: black;
  display: flex;
  font-size: 75px;
  justify-content: center;
  min-height: 100vh;
}


.scene {
  position: relative;
}

.ball {
  background-color: white;
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

.cube {
  background-color: rgba(0, 255, 255, 0.5);
  height: 2em;
  width: 2em;
}

.floor {
  background-image: repeating-conic-gradient(from 45deg, #111 0 90deg, #222 90deg 180deg);
  background-size: 1em 1em;
  height: 5em;
  width: 5em;
}